.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border: 1px dotted var(--themegreen);
  border-radius: var(--input-border-radius);
}

.form-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.form-row > label {
  flex: 2;
}

.form-row > .form-input {
  flex: 4;
}

.form-input > input, select {
  border: 1px solid var(--themegreen);
  border-radius: var(--input-border-radius);
  background-color: var(--themewhite);
  padding: 0 0.5rem;
  height: 2rem;
  width: 100%;
}

.form > button {
  margin-top: 2rem;
}

.form-error {
  padding-top: 0.5rem;
  color: var(--themeerror);
}

@media only screen and (max-width: 767px) {
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-input {
    margin-top: 1rem;
    width: 100%;
  }

  .form-input > input, select {
    border-radius: 4px;
  }
}
