.footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer-img {
  height: 4rem;
}

.footer .copyright {
  border-top: 0.1rem solid var(--themegreen);
  font-size: 0.75rem;
  text-align: right;
}

.footer div {
  flex: 1;
}