.footer {
  background-color: var(--themegreen);
  color: white;
  margin: var(--marginreset);
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--marginxy);
  margin-top: 2rem;
  padding: 1rem 0;
}

.footer .logo {
  flex: 2;
}

.footer-img {
  height: 6rem;
  background-color: var(--themewhite);
  padding: 1rem;
}

.footer .copyright {
  font-size: 0.75rem;
  text-align: right;
  flex: 1;
}
