.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header-img {
  height: 4rem;
}

.header .logo {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .header .logo:active {
    background-color: var(--themeyellow);
    border-radius: var(--input-border-radius);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: row;
  }
}
