.nav ul {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
}

.nav li {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--themegreen);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: var(--input-border-radius);
}

.nav a:hover {
  color: var(--themeyellow);
}

.nav a:visited {
  color: var(--themehighlightdark);
}

.nav a.active {
  background-color: var(--themeyellow);
}

@media only screen and (max-width: 767px) {
  .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav a {
    padding: 0;
  }
}
