.nav {
  position: static;
  background-color: transparent;
  transition: none;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
}

.nav li {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--themegreen);
  font-weight: bold;
  padding: 1.5rem;
}

.close-icon {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
  }

  .nav a:hover {
    color: var(--themeyellow);
  }

  .nav a:visited {
    color: var(--themehighlightdark);
  }

  .nav a.active {
    background-color: var(--themeyellow);
    color: var(--themegreen);
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    padding-left: 10vw;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    z-index: 999;
    background-color: var(--themehighlightlight);
    transition: left 0.3s ease-in-out;
    text-transform: uppercase;
  }

  .nav.hide {
    display: none;
  }

  .nav.show {
    display: block;
  }

  .close-icon {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    border: 0;
    background-color: var(--themehighlightlight);
    color: var(--themegreen);
    font-size: 3rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav a {
    padding: 2px;
  }

  .nav a.active {
    color: var(--themeyellow);
  }

  .nav li {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
