.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  border: 1px dotted var(--themegreen);
  border-radius: var(--input-border-radius);
}

.form-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-row > label {
  flex: 1;
}

.form-row > .form-input {
  flex: 4;
  height: 2rem;
}

.form-input > input[type='text'] {
  border: 1px solid var(--themegreen);
  border-radius: var(--input-border-radius);
  height: 100%;
  width: 100%;
}

.form > button {
  margin-top: 2rem;
}

.form-error {
  padding-top: 0.5rem;
  color: var(--themeerror);
}
