:root {
  --themegreen: #495E57;
  --themeyellow: #F4CE14;
  --themehighlightlight: #EDEFEE;
  --themehighlightdark: #333333;
  --marginxy: 0 15rem;
  --marginreset: 0 -15rem;
  --border-radius: 20px;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: var(--marginxy);
}

@media only screen and (max-width: 767px) {
  :root {
    --marginxy: 0 1rem;
    --marginreset: 0 -1rem;
  }
}